body {
  background-color: white;
  display: flex;
  flex-direction: column;
  @include montserrat-medium;
  font-size: $base-font-size;
  margin: auto;
  margin-top: 40px;
}

main {
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

div {
  margin: 0;
  padding: 0;
}

@media #{$medium-up} {
  main {
    width: 92%;
  }
}
