@use "sass:color";

// **************  colors **************
$red: #ff6060;
$grey-light: #f6f6f6;

$shadow1: #0a0a0a;
$shadow2: #040404;

$empty-star: #e3e3e3;
$secondary: #ff79da;

// **************  responsive **************
$medium: 768px;
$large: 992px;
$xl: 1440px;

$medium-up: "only screen and (min-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";
$xl-up: "only screen and (min-width: #{$xl})";

// **************  fonts  **************
$base-font-number: 18;
$base-font-size: #{$base-font-number}px;

// **************  animations  **************
$base-duration: 300ms; // ms
