@use "sass:color";

// **************  colors **************
$red-light: #ff6060;
$grey-light: #f6f6f6;

$shadow1: rgba(10, 10, 10, 0);
$shadow2: rgba(4, 4, 4, 0.41);

$empty-star: #e3e3e3;
$secondary: #ff79da;

// **************  responsive **************
$medium: 768px;
$large: 992px;
$xl: 1440px;

$medium-up: "only screen and (max-width: #{$medium})";
$large-up: "only screen and (max-width: #{$large})";
$xl-up: "only screen and (max-width: #{$xl})";

// **************  fonts  **************
$base-font-number: 18;
$base-font-size: #{$base-font-number}px;

// **************  animations  **************
$base-duration: 300ms; // ms
