@import url("https://fonts.cdnfonts.com/css/montserrat");
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
  margin-top: 40px;
}

main {
  width: 85%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  main {
    width: 92%;
  }
}
.header {
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  color: black;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 20px;
    margin-bottom: 27px;
    width: 92%;
  }
  .header__nav {
    gap: 26px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
.footer {
  color: white;
  background-color: black;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 80px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
    gap: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer p {
    width: 115px;
    text-align: center;
  }
}
.banner {
  margin-bottom: 43px;
  margin-top: 50px;
  position: relative;
}
.banner__img {
  border-radius: 20px;
  height: 223px;
  width: 100%;
  object-fit: cover;
}
.banner__text {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 100%;
  height: 223px;
  position: absolute;
  top: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__text-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 992px) {
  .banner__img {
    height: 150px;
  }
  .banner__text {
    height: 150px;
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .banner__img {
    height: 111px;
  }
  .banner__text {
    height: 111px;
    font-size: 24px;
    justify-content: left;
    box-shadow: none;
    text-shadow: none;
  }
  .banner__text p {
    padding-left: 10px;
  }
}
.housingCard {
  width: 30%;
  aspect-ratio: 1;
  position: relative;
}
.housingCard__img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}
.housingCard__link {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(white 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.41) 100%);
  display: flex;
  justify-content: left;
  align-items: end;
  border-radius: 10px;
}
.housingCard__link p {
  padding-left: 10px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .housingCard {
    width: 100%;
    aspect-ratio: 1.48;
  }
  .housingCard__img {
    width: 100%;
    aspect-ratio: 1.48;
  }
  .housingCard__link {
    width: 100%;
    aspect-ratio: 1.48;
  }
}
.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.aboutCard__title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #ff6060;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  z-index: 10;
}
.aboutCard__chevron {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}
.aboutCard__chevron-uncollapsed {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}
.aboutCard__description {
  background-color: rgba(246, 246, 246, 0.45);
  color: black;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
  height: 0px;
  transform: translateY(-50px);
}
.aboutCard__description-animate.collapsed {
  animation: collapseAboutCard 300ms ease-in-out forwards;
}
.aboutCard__description-animate.uncollapsed {
  animation: uncollapseAboutCard 300ms ease-in-out forwards;
}

@media only screen and (max-width: 768px) {
  .aboutCard__title {
    font-size: 13px;
    height: 30px;
    margin-top: 10px;
  }
  .aboutCard__chevron {
    width: 16px;
  }
  .aboutCard__chevron-uncollapsed {
    width: 16px;
  }
  .aboutCard__description {
    font-size: 12px;
  }
}
@keyframes uncollapseAboutCard {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    height: 0px;
    transform: translateY(-50px);
  }
  100% {
    padding-top: 25px;
    padding-bottom: 15px;
    opacity: 1;
    height: auto;
    transform: translateY(-10px);
  }
}
@keyframes collapseAboutCard {
  0% {
    padding-top: 25px;
    padding-bottom: 15px;
    opacity: 1;
    height: auto;
    transform: translateY(-10px);
  }
  100% {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    height: 0px;
    transform: translateY(-50px);
  }
}
.collapses {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .collapses {
    width: 100%;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 139px;
  margin-top: 89px;
  margin-bottom: 139px;
}
.error__status {
  padding: 0;
  margin: 0;
  color: #ff6060;
  font-size: 288px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.error__message {
  padding: 0;
  margin: 0;
  color: #ff6060;
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .error {
    margin-top: 53px;
    margin-bottom: 113px;
  }
  .error__status {
    font-size: 96px;
  }
  .error__message {
    font-size: 18px;
  }
  .error a {
    font-size: 14px;
  }
}
.cards {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 40px 5%;
  padding: 5%;
}

@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
