.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;

  &__title {
    color: white;
    @include montserrat-bold;
    font-size: 24px;
    background-color: $red-light;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;
    &:hover {
      font-size: 25px;
    }
  }

  &__chevron {
    transform: rotate(180deg);
    transition: transform $base-duration ease-in-out;
    &-uncollapsed {
      transform: rotate(0deg);
      transition: transform $base-duration ease-in-out;
    }
  }
  &__description {
    background-color: $grey-collapse;
    color: black;
    font-size: 18px;
    @include montserrat-regular;
    padding-left: 20px;

    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    height: 0px;
    transform: translateY(-50px);

    &-animate {
      &.collapsed {
        animation: collapseAboutCard $base-duration ease-in-out forwards;
      }
      &.uncollapsed {
        animation: uncollapseAboutCard $base-duration ease-in-out forwards;
      }
    }
  }
}

@media #{$large-up} {
  .collapse {
    &__title {
      font-size: 18px;
      &:hover {
        font-size: 19px;
      }
    }
  }
}

@media #{$medium-up} {
  .collapse {
    &__title {
      font-size: 13px;
      height: 30px;
      margin-top: 10px;
      &:hover {
        font-size: 14px;
      }
    }
    &__chevron {
      width: 16px;
      &-uncollapsed {
        width: 16px;
      }
    }
    &__description {
      font-size: 12px;
    }
  }
}

@keyframes uncollapseAboutCard {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    height: 0px;
    transform: translateY(-50px);
  }
  100% {
    padding-top: 25px;
    padding-bottom: 15px;
    opacity: 1;
    height: auto;
    transform: translateY(-10px);
  }
}

@keyframes collapseAboutCard {
  0% {
    padding-top: 25px;
    padding-bottom: 15px;
    opacity: 1;
    height: auto;
    transform: translateY(-10px);
  }
  100% {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    height: 0px;
    transform: translateY(-50px);
  }
}
