.header {
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 57px;
    color: black;
    font-size: 24px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media #{$medium-up} {
  .header {
    margin-top: 20px;
    margin-bottom: 27px;
    width: 92%;

    &__nav {
      gap: 26px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
