.stars {
  justify-items: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &__star {
    color: $empty-star;
    font-size: 20px;

    &-active {
      color: $red-light;
    }
  }
}

@media #{$large-up} {
  .stars {
    gap: 8px;

    &__star {
      font-size: 14px;
    }
  }
}

@media #{$medium-up} {
  .stars {
    gap: 6px;

    &__star {
      font-size: 12px;
    }
  }
}
